@import "./base.css";
@import "./productCard.css";

/* Main CSS file / links styling / root variables / each page has a #main id wrapping all its contents  */

/* App root variables */
:root {
  --primary-color: #385f73;
  --btn-shadows: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --card-shadows: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --card-padding: 0.85vw;
  --primary-grey: #9d9d9d;
  --secondary-grey: #c1c1c1;
  --screen-width: max-width: 1440px;
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  --primary-color-2: #f6f6f6;
  --secondary-color: #e5e5e5;
  --tertiary-color: #d4d4d4;
  --quaternary-color: #333333;
}


#app {}

/* Main styling for all pages between header and footer */
#main {
  max-width: 1200px;
  padding: 0 0.5rem !important;
  width: 100%;
}