
/* Hover Zoom Styling for product Card image  */
.product-img-scale {
  aspect-ratio: 2 / 3;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.product-img-scale:hover {
  transform: scale(103%);
  cursor: pointer;
}

