/* This styling applies to all cards in the application with exception of the flip-cards on the About page */

/* This styling is used to pair or override standard Bootstrap card CSS */
/* All card contents */
.card {
  border: none;
   padding: var(--card-padding);
}


/* Card image  */
.product-img-scale {
  aspect-ratio: 2 / 3;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 300px;
}
.product-img-scale:hover {
  transform: scale(103%);
  cursor: pointer;
}

